.profile-container
{
    display:flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.profile-container img
{
    width: 375px;
    height: auto;
    border-radius: 8px;
}


.navilist {
    list-style: none;   
    margin: 0;
    padding: 0;
    text-align: center; 
}
.navilist li {
    display: inline;   
    margin: 0 15px;     
}